<html>
  <head>
    <title>BBC chess engine</title>
        
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <!-- chessjs -->
    <script src="/static/js/chess.js"></script>
    
    <!-- chessboardjs -->
    <link rel="stylesheet" href="/static/css/chessboard-1.0.0.min.css">
    <script src="/static/js/chessboard-1.0.0.min.js"></script>
  </head>
  <body>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col-5">
                  <!-- chess board view -->
                  <div id="chess_board" class="mx-auto mb-2" style="width: 400px"></div>
                </div>
                <div class="col">
                  <!-- Game stats -->
                  <strong>Status:</strong>
                  <div id="status"></div>
                  <div class="mt-2"><strong>FEN:</strong></div>
                  <div id="fen"></div>
                  <div class="mt-2"><strong>PGN:</strong></div>
                  <div id="pgn"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  // GUI board & game state variables
  var board = null
  var game = new Chess()
  var $status = $('#status')
  var $fen = $('#fen')
  var $pgn = $('#pgn')

  // on picking up a piece
  function onDragStart (source, piece, position, orientation) {
    // do not pick up pieces if the game is over
    if (game.game_over()) return false

    // only pick up pieces for the side to move
    if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
        (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
      return false
    }
  }

  // on dropping piece
  function onDrop (source, target) {
    // see if the move is legal
    var move = game.move({
      from: source,
      to: target,
      promotion: 'q' // NOTE: always promote to a queen for example simplicity
    })

    // illegal move
    if (move === null) return 'snapback'

    // make HTTP POST request to make move API
    $.post('/make_move', {'fen': game.fen()}, function(data) {
      // load fen into the current board state
      game.move(data.best_move, { sloppy: true })
      
      // update board position
      board.position(game.fen());
      
      // update game status
      updateStatus();
    });
    
    // update game status
    updateStatus();
  }

  // update the board position after the piece snap
  // for castling, en passant, pawn promotion
  function onSnapEnd () {
    board.position(game.fen())
  }

  // update game status
  function updateStatus () {
    var status = ''

    var moveColor = 'White'
    if (game.turn() === 'b') {
      moveColor = 'Black'
    }

    // checkmate?
    if (game.in_checkmate()) {
      status = 'Game over, ' + moveColor + ' is in checkmate.'
    }

    // draw?
    else if (game.in_draw()) {
      status = 'Game over, drawn position'
    }

    // game still on
    else {
      status = moveColor + ' to move'

      // check?
      if (game.in_check()) {
        status += ', ' + moveColor + ' is in check'
      }
    }

    // update DOM elements
    $status.html(status)
    $fen.html(game.fen())
    $pgn.html(game.pgn())
  }

  // chess board configuration
  var config = {
    draggable: true,
    position: 'start',
    onDragStart: onDragStart,
    onDrop: onDrop,
    onSnapEnd: onSnapEnd
  }
  
  // create chess board widget instance
  board = Chessboard('chess_board', config)

  // update game status
  updateStatus();
</script>
